# Arquivos de Configuração e Segredos
.env

# Arquivos de log e dependências
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/node_modules/
/backend/target/

# Arquivos gerados pelo Maven Wrapper
.mvn/
!/backend/.mvn/wrapper/maven-wrapper.properties

# --- ARQUIVOS DE IDE E FERRAMENTAS ---

### IntelliJ IDEA ###
# Cobre pastas .idea em qualquer subdiretório
**/.idea/
*.iws
*.iml
*.ipr

### VS Code ###
**/.vscode/

### Eclipse/STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db