# Arquivos de Configuração e Segredos
.env

# Arquivos de Build e Log do Maven
/target/
*.log

# Arquivos gerados pelo Maven Wrapper
# Ignora a pasta .mvn, mas mantém o arquivo de propriedades do wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.properties

# --- ARQUIVOS DE IDE E FERRAMENTAS ---

### IntelliJ IDEA ###
**/.idea/
*.iws
*.iml
*.ipr

### VS Code ###
**/.vscode/

### Eclipse/STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db